<html>
	<head>
		<title>Mes informations</title>
		<link rel="stylesheet" type="text/css" href="/css/myInformations.css">
	</head>
	<body>
		<div class='container'>
			<h1>Mes informations</h1>
			<form id='inscriptionForm' method='post' action='/inscription'>
				<label>Adresse mail
					<input type='email' name='emailAddress' placeholder='Adresse mail' value='<%= user.emailAddress %>'>
				</label>
				<label>Nom
					<input type='text' name='lastName' placeholder='Nom' value='<%= user.lastName %>'>
				</label>
				<label>Prénom
					<input type='text' name='firstName' placeholder='Prénom' value='<%= user.firstName %>'>
				</label>
				<label>Adresse postale
					<input type='text' name='address' placeholder='Adresse postale' value='<%= user.address %>'>
				</label>
				<label>Code postal
					<input type='v' name='zipCode' placeholder='Code postal' value='<%= user.zipCode %>'>
				</label>
				<label>Numéro de téléphone
					<input type='text' name='phone' placeholder='Numéro de téléphone' value='<%= user.phone %>'>
				</label>
				<label>Mot de passe
					<input type='password' name='password' placeholder='Mot de passe'>
				</label>
				<label>Vérification du mot de passe
					<input id='checkPassword' type='password' placeholder='Vérification du mot de passe'>
				</label>
				<input type='submit' value='Valider'>
			</form>
		</div>
	</body>
</html>