<html>
	<head>
		<title>Mes informations</title>
		<link rel="stylesheet" type="text/css" href="webroot/css/myInformations.css">
		<link rel="stylesheet" type="text/css" href="/webroot/css/header.css">
	</head>
	<body>
		<%- include ../home/header.ejs %>
		<div id="bienvenu">Mes informations</div>
		<div class='container'>			
			<form id='inscriptionForm' method='post' action='/modifyMyInfos'>
				<div id="rectangle">
					<div id="sup"><label>Adresse mail</label></div>
					<div id="inf"><input type='email' name='emailAddress' placeholder='Adresse mail' value='<%= user.emailAddress %>'></div>
				</div>

				<div id="rectangle">
					<div id="sup"><label>Nom</label></div>
					<div id="inf"><input type='text' name='lastName' placeholder='Nom' value='<%= user.lastName %>'></div>
				</div>

				<div id="rectangle">
					<div id="sup"><label>Prenom</label></div>
					<div id="inf"><input type='text' name='firstName' placeholder='Prénom' value='<%= user.firstName %>'></div>
				</div>

				<div id="rectangle">
					<div id="sup"><label>Adresse</label></div>
					<div id="inf"><input type='text' name='address' placeholder='Adresse postale' value='<%= user.address %>'></div>
				</div>

				<div id="rectangle">
					<div id="sup"><label>Code postal</label></div>
					<div id="inf"><input type='text' name='zipCode' placeholder='Code postal' value='<%= user.zipCode %>'></div>
				</div>

				<div id="rectangle">
					<div id="sup"><label>Numero de telephone</label></div>
					<div id="inf"><input type='text' name='phone' placeholder='Numéro de téléphone' value='<%= user.phone %>'></div>
				</div>

				<div id="rectangle">
					<div id="sup"><label>Mot de passe</label></div>
					<div id="inf"><input type='password' name='password' placeholder='Mot de passe'></div>
				</div>

				<div id="rectangle">
					<div id="sup"><label>Verification</label></div>
					<div id="inf"><input id='checkPassword' type='password' placeholder='Vérification du mot de passe'></div>
				</div>
				</br>
				</br>
				
				<input type='submit' value='Enregistrer'>
			</form>
		</div>
		<script type="text/javascript" src='/webroot/js/jquery.js'></script>
		<script type="text/javascript" src='/webroot/js/inscription.js'></script>
	</body>
</html>