<!doctype html>
<html>
	<head>
		<title>Mes voitures</title>
		<link rel="stylesheet" type="text/css" href="/webroot/css/myCars.css">
		<link rel="stylesheet" type="text/css" href="/webroot/css/header.css">
	</head>
	<body>
		<%- include ../home/header.ejs %>
		<div id="bienvenu">Mes voitures</div>
			<div class='container'>
				<% for(var i = 0; i < cars.length; i++) {%>
					<form class='carsForm' method='post' action='/modifyCar' enctype='multipart/form-data'>
						<img style='width: 300px;' src='/webroot/images/<%= cars[i].id %>/photo.jpg' >
						<input type='file' name='photo'>
						<img style='width: 300px;' src='/webroot/images/<%= cars[i].id %>/registrationFile.jpg' >
						<input type='file' name='registrationFile'>
						<input type='text' name='name' placeholder='name' value='<%= cars[i].name %>'>
						<input type='text' name='id' placeholder="Plaque d'immatriculation"
						value='<%= cars[i].id %>' disabled>
						<input type='submit' value='modifier'>
					</form>
					<form method='post' action='/deleteCar'>
						<input type='hidden' name='id' value=<%= cars[i].id %>>
						<input type='submit' value='Supprimer'>
					</form>				
				<% } %>
		</div>
		<a href="/addCar">Ajouter une voiture</a>
		<script type="text/javascript" src='/webroot/js/jquery.js'></script>
		<script type="text/javascript" src='/webroot/js/myCars.js'></script>
	</body>
</html>