<!doctype html>
<html>
	<head>
		<title>Mes voitures</title>
		<link rel="stylesheet" type="text/css" href="/webroot/css/myCars.css">
	</head>
	<body>
		<div class='container'>
			<h1>Mes voitures</h1>
			<% for(var i = 0; i < cars.length; i++) {%>
				<form methode='post' action='/modifyCar?registrationPlate=<%= cars[i].registrationPlate %>'>
					<img style='width: 300px;' src='/webroot/images/<%= cars[i].registrationPlate %>/photo.jpg' >
					<input type='file' name='photo'>
					<img style='width: 300px;' src='/webroot/images/<%= cars[i].registrationPlate %>/registrationPlate.jpg' >
					<input type='file' name='photo'>
					<input type='text' name='name' placeholder='name' value='<%= cars[i].name %>'>
					<input type='text' name='registrationPlate' placeholder='registrationPlate'
					value='<%= cars[i].registrationPlate %>'>
					<input type='submit' value='modifier'>
					<a href=<%= '/deleteCar?registrationPlate=' + cars[i].registrationPlate %>>
						<input type='button' value='Supprimer'>
					</a>
				</form>
			<% } %>
		</div>
		<script type="text/javascript" src='/webroot/js/jquery.js'></script>
		<script type="text/javascript" src='/webroot/js/addCar.js'></script>
	</body>
</html>