<html>
<head>
	<title>Start</title>
	<link rel="stylesheet" type="text/css" href="webroot/css/start.css">
</head>
<body>
	<div class="container">
	<h1>Choisissez votre voiture</h1>
	<% for(var i = 0; i < cars.length; i++) {%>
		<div class='car'>
			<img src='/webroot/images/<%= cars[i].id %>/photo.jpg'>
			<p><%= cars[i].name %></p>
			<p><%= cars[i].id %></p>
			<input class='selectCar' type='button' name=<%= cars[i].name %> id=<%= cars[i].id %> value='sélectionner'>
		</div>
	<% } %>
	</div>
</body>
</html>