<html>
<head>
	<title>Start</title>
	<link rel="stylesheet" type="text/css" href="webroot/css/chooseCar.css">
</head>
<body>
<div id="bienvenu">Choisissez votre voiture</div>
	<div class="container">
	
	<% for(var i = 0; i < cars.length; i++) {%>
		<div class='car'>
			<img src='/webroot/images/<%= cars[i].id %>/photo.jpg'>
			<p><%= cars[i].name %></p>
			<p><%= cars[i].id %></p>
			<a href='/chooseLocation?id=<%= cars[i].id %>'><input class='selectCar' type='button' name=<%= cars[i].name %> id=<%= cars[i].id %> value='sélectionner'></a>
		</div>
	<% } %>
	</div>
</body>
</html>