<!doctype html>
<html>
	<head>
		<title>Démarrer</title>
		<link rel="stylesheet" type="text/css" href="/webroot/css/start.css">
	</head>
	<body>
	<div id="bienvenu">Démarrer</div>
		<div class='container'>
			<form id='form' method='post' action='/startSession'>
				
				<input type='hidden' name='car_id' value=<%= car.id %>>
				<input type='hidden' name='dateBegin' value="01:01:01T00:00">
				<input type='hidden' name='locationX' value=<%= location.locationX %>>
				<input type='hidden' name='locationY' value=<%= location.locationY %>>
				<p>Crédit restant</p>
				<p>27€</p>
				<p id="position">Détermination de la position</p>
				<img src='/webroot/images/<%= car.id %>/photo.jpg'>
				<p><%= car.name %></p>
				<p>Prix: 0,15€/heure</p>
				<input type='hidden' name='localPrice' value='0.15'>
				<input type='submit' value='Démarrer'>
			</form>
		</div>
		<script type="text/javascript" src='webroot/js/jquery.js'></script>
		<script type="text/javascript" src='webroot/js/start.js'></script>
	</body>
</html>